
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


        	

body{

    width: 100%;
    height: 100vh;
    background-color:#060606b7;
    

} 

main{

    padding-top:20px;
}


.backtopo{

    background-color: 	#1c1c1cc1;
    width:100%;
    max-width:500px;
    min-width:200px;
    margin: auto;
    padding:30px;
    border-radius:10px;
   

}

.backtopo>div>h1{

    font-family:sans-serif;
    text-align:center;
    color: aliceblue;
    font-size:calc(60% + 1.9vmin);
    padding-top:5px;
    padding-bottom:5px;
}

fieldset{

    border:none;
}

.cardsine>label{

    font-family:sans-serif;
    text-align:center;
    color: aliceblue;
    font-size:calc(60% + 0.9vmin);
}

.cardsine>input{

    background-color:#ffffff19;
    width:100%;
    max-width:500px;
    display:block;
    border:none;
    outline:none;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:2px;
}

.cardsine>input:hover{

    outline:solid 0.9px #ffffff5a;

}


.cardhj{

    line-height:30px;
    flex-wrap:wrap;
    flex-wrap:wrap;
    font-family:sans-serif;
    font-size:calc(60% + 0.9vmin);
    color: aliceblue;
    letter-spacing:1px;
}

#cardbb{

    background-color:#ffffff19;
    padding:5px;
    width:100%;
    border:none;
    border-radius:5px;
    font-family:sans-serif;
    font-size:calc(60% + 0.9vmin);
    color: rgb(255, 255, 255);
    border-radius:5px;
}

#cardbb:hover{

    outline:solid 0.9px  #ffffff5a;

}

.checks{

   
    flex-wrap:wrap;
    font-family:sans-serif;
    font-size:calc(60% + 0.9vmin);
    color: rgb(255, 255, 255);
    line-height:30px;
    letter-spacing:1px;

}




.escrevertexo>label{

    font-family:sans-serif;
    font-size:calc(60% + 0.9vmin);
    color: rgb(255, 255, 255);
}


button{

    background-color: 	#8f2600;
    width:100%;
    border:none;
    padding:15px;
    margin-top:20px;
    border-radius:5px;
}

button:hover{

    background-color: 	#FF4500;
    
}


button>p{

    font-family:sans-serif;
    font-size:calc(60% + 1.2vmin);
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 700px) {
    .backtopo{

        width:95%;
        padding:25px;

    }

    main{

        padding-top:5vh;
        padding-bottom:5vh;

    }

    

    .cardhj{

        letter-spacing:2px;
        line-height:45px;
    }

    .checks{

        line-height:45px;
    }
  }


  